*.jar
.metadata
RemoteSystemsTempFiles
target
.grunt
.idea
.classpath
.project
.settings
bin
.vlt
.DS_Store
.vlt-sync-config.properties
.vlt-sync.log
.brackets.json
.metadata/
.vagrant/
*.iml
src/main/frontend/node_modules/
src/main/frontend/node/
.vscode/
pom.xml.releaseBackup
pom.xml.tag
release.properties
pom.xml.next
.java-version